.NavMenu
  padding: 0px 5px

  .NavMenu-item
    display: inline-block
    float: left
    padding: 10px 5px

    a
      padding: 0px 5px

  .NavMenu-item-title
    font-size: 16px

  .NavMenu-item--text
    line-height: 4rem

  .NavMenu-item--right
    float: right

  .NavMenu-item--left
    padding-left: 10px

  .NavMenu-avatar
    padding: 11px 11px
    float: right
